<h3>Welcome!</h3>

<p>This is the Alex's go-to-post-it forum.  Please feel free and leave your message. </p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Vote</th>
      <th>Title</th>
      <!--<th>Url</th>-->
      <!--<th>Description</th>-->
      <th>Author</th>
      <th>Create time</th>
    </tr>
  </thead>
  
  <tbody>  
    <% @posts.each do |post| %>
    <tr>
      <td>
          <%= link_to vote_post_path(post, :vote => true), :method => :post, :remote => true do %>
            <i class="icon-thumbs-up"></i>
          <% end %>
            <strong id="<%= post.slug %>"><%= noquery_vote(post.votes) %></strong>
          <%= link_to vote_post_path(post, :vote => false), :method => :post, :remote => true do %>
            <i class="icon-thumbs-down"></i>
          <% end %>
      </td>
      <td>
        <%= link_to post_path(post)  do %>
          <%= post.title %>
        <% end %>
      </td>
      <!--<td><%= post.url %></td>-->  
      <!--<td><%= post.description %></td>-->
      <td>
          <%= post.creator.username %>
      </td>
      <td><%= pretty_date(post.created_at) %></td>
    </tr>
    <% end %>
  </tbody>

</table>
